---
<a name = Section1></a>
# **1. Introduction**
---

**PROJECT DESCRIPTION:**
============================

See https://projects.insaid.co/capstone2/index.php

---
<a name = Section2></a>
# **2. Installing and importing libraries**
---

<a name = Section21></a>
### **2.1 Installing Libraries**

1.   Restart Runtime (in Colab it is menu -> Runtime -> Restart Runtime)
2.   Run the below steps

In [1]:
#!pip install -q datascience                   # Package that is required by pandas profiling
#!pip install -q pandas-profiling              # Library to generate basic statistics about data

In [2]:
#!pip install -q --upgrade pandas-profiling

In [3]:
#!pip install mysql-connector-python ## DB Connection ##

3.   Restart Runtime again 
4.   Run step 2 again
5.   Run the code below (to install the other libraries)

In [4]:
#------------------------------------------------------------------------------------------------------------------------------
import pandas as pd                                                 # Importing for panel data analysis
from pandas_profiling import ProfileReport                          # Import Pandas Profiling (To generate Univariate Analysis)
pd.set_option('display.max_columns', None)                          # Unfolding hidden features if the cardinality is high
pd.set_option('display.max_rows', None)                             # Unfolding hidden data points if the cardinality is high
pd.set_option('mode.chained_assignment', None)                      # Removing restriction over chained assignments operations
#-------------------------------------------------------------------------------------------------------------------------------
import numpy as np                                                  # Importing package numpys (For Numerical Python)
from scipy.stats import randint as sp_randint                       # For initializing random integer values
#-------------------------------------------------------------------------------------------------------------------------------
import matplotlib.pyplot as plt                                     # Importing pyplot interface using matplotlib
import seaborn as sns                                               # Importin seaborm library for interactive visualization
%matplotlib inline
#-------------------------------------------------------------------------------------------------------------------------------
from sklearn.preprocessing import StandardScaler                    # To scaled data with mean 0 and variance 1
from sklearn.model_selection import train_test_split                # To split the data in training and testing part
from sklearn.model_selection import RandomizedSearchCV              # To find best hyperparamter setting for the algorithm
from sklearn.ensemble import RandomForestClassifier                 # To implement random forest classifier
from sklearn.tree import DecisionTreeClassifier                     # To implement decision tree classifier
from sklearn.metrics import classification_report                   # To generate classification report
from sklearn.metrics import plot_confusion_matrix                   # To plot confusion matrix
import pydotplus                                                    # To generate pydot file
from IPython.display import Image                                   # To generate image using pydot file
#-------------------------------------------------------------------------------------------------------------------------------
import warnings                                                     # Importing warning to disable runtime warnings
warnings.filterwarnings("ignore")                                   # Warnings will appear only once

---
<a name = Section3></a>
# **3. Loading Train and Test data**
---


<a name = Section31></a>
### **3.1 Loading Training data**

In [18]:
#------ DB Connection ------
import mysql.connector
mydb = mysql.connector.connect(
 user='student', password='student',
 host='cpanel.insaid.co',
 database='Capstone2')

mycursor = mydb.cursor()

In [7]:
# --- Function get table data as a data frame ---
def getTableDataAsDataFrame(dbCursor, tableName):

  ## Get the Columns  of the table
  dbCursor.execute("show columns from " + tableName)
  cols_result = dbCursor.fetchall()
  cols_df = pd.DataFrame(cols_result)
  cols = cols_df.iloc[:, 0]

  ## Then, get the data stored into a DataFrame
  dbCursor.execute("select * from " + tableName)
  table_data_result = dbCursor.fetchall()
  table_data_df = pd.DataFrame(table_data_result, columns = cols)
  
  ## return the Table data as a DataFrame
  return table_data_df

In [8]:
# === TABLES of the DATABASE ===

# Department Table
department_data_df = getTableDataAsDataFrame(mycursor, 'department_data')
display(department_data_df.head());

0  dept_id    dept_name              dept_head
0   D00-IT           IT             Henry Adey
1   D00-SS        Sales        Edward J Bayley
2   D00-TP         Temp        Micheal Zachrey
3  D00-ENG  Engineering  Sushant Raghunathan K
4   D00-SP      Support         Amelia Westray

In [9]:
# Employee Details table
employee_details_data_df = getTableDataAsDataFrame(mycursor, 'employee_details_data')
display(employee_details_data_df.head());

0  employee_id  age  gender marital_status
0       113558   43    Male        Married
1       112256   24  Female      Unmarried
2       112586   22  Female      Unmarried
3       108071   36    Male        Married
4       116915   38    Male        Married

In [10]:
# Employee data
### MAIN TABLE, Has most of the Features required for the model ###
employee_data_df = getTableDataAsDataFrame(mycursor, 'employee_data')
display(employee_data_df.head(10));

,avg_monthly_hrs,department,filed_complaint,last_evaluation,n_projects,recently_promoted,salary,satisfaction,status,tenure,employee_id
0,246.00,None,None,0.866838,6,NaN,medium,0.134415,Left,4.00,124467
1,134.00,None,None,0.555718,2,NaN,low,0.511041,Left,3.00,112210
2,156.00,D00-SS,1.00,0.474082,2,NaN,medium,0.405101,Left,3.00,126150
3,256.00,D00-SP,None,0.961360,6,NaN,low,0.152974,Left,4.00,125346
4,146.00,D00-SS,None,0.507349,2,NaN,medium,0.434845,Left,3.00,113707
5,135.00,D00-MT,None,0.482184,2,NaN,low,0.381545,Left,3.00,121685
6,270.00,D00-PD,None,0.867087,6,NaN,low,0.172575,Left,4.00,119912
7,244.00,D00-IT,None,0.926197,6,NaN,medium,0.061868,Left,5.00,112868
8,289.00,D00-IT,None,0.929858,7,NaN,low,0.161744,Left,4.00,122314
9,281.00,D00-SS,None,0.907965,6,NaN,medium,0.105749,Left,4.00,122394

In [12]:
employee_data_df.describe()

,last_evaluation,n_projects,recently_promoted,satisfaction,employee_id
count,12663.000000,14150.000000,297.0,14000.000000,14150.000000
mean,0.718399,3.778304,1.0,0.621212,112080.750247
std,0.173108,1.250162,0.0,0.250482,8748.202856
min,0.316175,1.000000,1.0,0.040058,0.000000
25%,0.563711,3.000000,1.0,0.450356,105772.500000
50%,0.724731,4.000000,1.0,0.652394,111291.500000
75%,0.871409,5.000000,1.0,0.824925,116650.750000
max,1.000000,7.000000,1.0,1.000000,148988.000000

In [ ]:
employee_data_df.describe()

In [22]:
employee_data_df['avg_monthly_hrs'].unique()

array([Decimal('246.00'), Decimal('134.00'), Decimal('156.00'),
       Decimal('256.00'), Decimal('146.00'), Decimal('135.00'),
       Decimal('270.00'), Decimal('244.00'), Decimal('289.00'),
       Decimal('281.00'), Decimal('269.00'), Decimal('267.00'),
       Decimal('257.00'), Decimal('155.00'), Decimal('128.00'),
       Decimal('274.00'), Decimal('151.00'), Decimal('127.00'),
       Decimal('132.00'), Decimal('309.00'), Decimal('130.00'),
       Decimal('233.00'), Decimal('245.00'), Decimal('149.00'),
       Decimal('232.00'), Decimal('284.00'), Decimal('249.00'),
       Decimal('164.00'), Decimal('159.00'), Decimal('154.00'),
       Decimal('239.00'), Decimal('260.00'), Decimal('125.00'),
       Decimal('308.00'), Decimal('306.00'), Decimal('141.00'),
       Decimal('143.00'), Decimal('261.00'), Decimal('301.00'),
       Decimal('296.00'), Decimal('271.00'), Decimal('129.00'),
       Decimal('290.00'), Decimal('225.00'), Decimal('253.00'),
       Decimal('255.00'), Decimal('268.00'), Decimal('153.00'),
       Decimal('294.00'), Decimal('293.00'), Decimal('235.00'),
       Decimal('158.00'), Decimal('273.00'), Decimal('277.00'),
       Decimal('198.00'), Decimal('160.00'), Decimal('131.00'),
       Decimal('150.00'), Decimal('254.00'), Decimal('152.00'),
       Decimal('236.00'), Decimal('145.00'), Decimal('279.00'),
       Decimal('259.00'), Decimal('297.00'), Decimal('258.00'),
       Decimal('140.00'), Decimal('223.00'), Decimal('147.00'),
       Decimal('148.00'), Decimal('310.00'), Decimal('137.00'),
       Decimal('303.00'), Decimal('202.00'), Decimal('136.00'),
       Decimal('287.00'), Decimal('218.00'), Decimal('172.00'),
       Decimal('305.00'), Decimal('291.00'), Decimal('243.00'),
       Decimal('228.00'), Decimal('283.00'), Decimal('242.00'),
       Decimal('192.00'), Decimal('298.00'), Decimal('285.00'),
       Decimal('247.00'), Decimal('216.00'), Decimal('280.00'),
       Decimal('265.00'), Decimal('263.00'), Decimal('276.00'),
       Decimal('139.00'), Decimal('142.00'), Decimal('299.00'),
       Decimal('278.00'), Decimal('282.00'), Decimal('241.00'),
       Decimal('144.00'), Decimal('157.00'), Decimal('264.00'),
       Decimal('138.00'), Decimal('224.00'), Decimal('251.00'),
       Decimal('124.00'), Decimal('119.00'), Decimal('248.00'),
       Decimal('304.00'), Decimal('262.00'), Decimal('266.00'),
       Decimal('133.00'), Decimal('252.00'), Decimal('275.00'),
       Decimal('219.00'), Decimal('307.00'), Decimal('226.00'),
       Decimal('214.00'), Decimal('180.00'), Decimal('300.00'),
       Decimal('240.00'), Decimal('217.00'), Decimal('227.00'),
       Decimal('238.00'), Decimal('177.00'), Decimal('181.00'),
       Decimal('165.00'), Decimal('288.00'), Decimal('286.00'),
       Decimal('272.00'), Decimal('250.00'), Decimal('126.00'),
       Decimal('292.00'), Decimal('65.00'), Decimal('222.00'),
       Decimal('229.00'), Decimal('302.00'), Decimal('237.00'),
       Decimal('161.00'), Decimal('295.00'), Decimal('221.00'),
       Decimal('63.00'), Decimal('195.00'), Decimal('213.00'),
       Decimal('234.00'), Decimal('205.00'), Decimal('212.00'),
       Decimal('179.00'), Decimal('72.00'), Decimal('87.00'),
       Decimal('163.00'), Decimal('169.00'), Decimal('231.00'),
       Decimal('166.00'), Decimal('220.00'), Decimal('68.00'),
       Decimal('196.00'), Decimal('162.00'), Decimal('182.00'),
       Decimal('204.00'), Decimal('184.00'), Decimal('74.00'),
       Decimal('67.00'), Decimal('206.00'), Decimal('183.00'),
       Decimal('189.00'), Decimal('168.00'), Decimal('178.00'),
       Decimal('211.00'), Decimal('176.00'), Decimal('194.00'),
       Decimal('173.00'), Decimal('185.00'), Decimal('215.00'),
       Decimal('186.00'), Decimal('207.00'), Decimal('191.00'),
       Decimal('203.00'), Decimal('108.00'), Decimal('101.00'),
       Decimal('120.00'), Decimal('174.00'), Decimal('197.00'),
       Decimal('193.00'), Decimal('230.00'), Decimal('111.00'),
       Decimal('201.00'), Decimal('115.00'), Decimal('209.00'),
       Decimal('170.00'), Decimal('69.00'), Decimal('187.00'),
       Decimal('109.00'), Decimal('175.00'), Decimal('99.00'),
       Decimal('190.00'), Decimal('112.00'), Decimal('210.00'),
       Decimal('200.00'), Decimal('82.00'), Decimal('199.00'),
       Decimal('188.00'), Decimal('171.00'), Decimal('49.00'),
       Decimal('100.00'), Decimal('98.00'), Decimal('167.00'),
       Decimal('76.00'), Decimal('113.00'), Decimal('104.00'),
       Decimal('121.00'), Decimal('105.00'), Decimal('117.00'),
       Decimal('118.00'), Decimal('208.00'), Decimal('97.00'),
       Decimal('102.00'), Decimal('110.00'), Decimal('84.00'),
       Decimal('106.00'), Decimal('123.00'), Decimal('90.00'),
       Decimal('81.00'), Decimal('70.00'), Decimal('122.00'),
       Decimal('103.00'), Decimal('114.00'), Decimal('60.00'),
       Decimal('107.00'), Decimal('73.00'), Decimal('116.00'),
       Decimal('96.00'), Decimal('83.00'), Decimal('54.00'),
       Decimal('56.00'), Decimal('71.00'), Decimal('75.00'),
       Decimal('52.00'), Decimal('89.00'), Decimal('66.00'),
       Decimal('85.00'), Decimal('78.00'), Decimal('95.00'),
       Decimal('92.00'), Decimal('80.00'), Decimal('91.00'),
       Decimal('93.00'), Decimal('55.00'), Decimal('88.00')], dtype=object)

In [13]:
employee_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14150 entries, 0 to 14149
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   avg_monthly_hrs    14150 non-null  object
 1   department         13443 non-null  object
 2   filed_complaint    2046 non-null   object
 3   last_evaluation    12663 non-null  float64
 4   n_projects         14150 non-null  int64
 5   recently_promoted  297 non-null    float64
 6   salary             14150 non-null  object
 7   satisfaction       14000 non-null  float64
 8   status             14150 non-null  object
 9   tenure             14000 non-null  object
 10  employee_id        14150 non-null  int64
dtypes: float64(3), int64(2), object(6)
memory usage: 1.2+ MB

In [21]:

## Get the Columns  of the table
mycursor.execute("show columns from employee_data")

cols_result = mycursor.fetchall()
cols_df = pd.DataFrame(cols_result)
cols_df.head(20)
#cols_df.iloc[:, 0]

                    0                 1    2   3     4 5
0     avg_monthly_hrs  b'decimal(11,2)'  YES  []  None
1          department    b'varchar(20)'  YES  []  None
2     filed_complaint  b'decimal(11,2)'  YES  []  None
3     last_evaluation          b'float'  YES  []  None
4          n_projects            b'int'  YES  []  None
5   recently_promoted            b'int'  YES  []  None
6              salary    b'varchar(20)'  YES  []  None
7        satisfaction          b'float'  YES  []  None
8              status    b'varchar(20)'  YES  []  None
9              tenure  b'decimal(11,2)'  YES  []  None
10        employee_id            b'int'  YES  []  None

<a name = Section32></a>
### **3.2 Loading Test data**

---
<a name = Section4></a>
# **4. Pre-Profiling Report**
---

In [64]:
#!pip install pandas-profiling==2.7.1
#profile = ProfileReport(df = employee_train)
#profile.to_file(output_file = 'Pre Profiling Report.html')
#print('Accomplished!')

In [65]:
#from google.colab import files                   # Use only if you are using Google Colab, otherwise remove it
#files.download('Pre Profiling Report.html')      # Use only if you are using Google Colab, otherwise remove it

---
<a name = Section5></a>
# **5. Exploratory Data Analysis**
---

<a name = Section51></a>
### **5.1 Pairwise Plots**

<a name = Section52></a>
### **5.2 Heatmaps**

In [66]:
#### Detailed HEAT MAP of Correlations ####

---
<a name = Section6></a>
# **6. Feature Selection**
---

---
<a name = Section7></a>
# **7. Filling Missing / Null values if any**
---


<a name = Section71></a>
### **7.1 Data Description (Mean, median, std. dev. etc)**


<a name = Section72></a>
### **7.2 Fill missing / null values with Mean/Median/Mode**

---
<a name = Section8></a>
# **8. Feature Engineering**
---

---
<a name = Section9></a>
# **9. Data Preparation (before model creation)**
---

<a name = Section91></a>
### **9.1 Scaling**

<a name = Section92></a>
### **9.2 X and y creation**

<a name = Section93></a>
### **9.3 Train-Test Split**

<a name = Section94></a>
### **9.4 Scaling (Fit-Transform for Train, Transform for Test)**

---
<a name = Section10></a>
# **10. Model creation and prediction**
---

<a name = Section91></a>
### **10.1 Random Forest classification model**

<a name = Section102></a>
### **10.2 Prediction**

---
<a name = Section11></a>
# **11. Model Evaluation**
---